*{
    margin: 0px;
    padding: 0px;
}

.profile-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(202, 160, 221);
    border-radius: 32px;
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

.user-img-profile{
    height: 40vh;
    width: 40vw;
    border-radius: 2vw;
    border: 2px solid rgb(202, 160, 221);
}

.profile-btn{
    background-color: rgb(202, 160, 221);
}

.askQuestionsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}